html, body {
  padding: 0;
  margin: 0;
}

.root {
  height: 100vh;
}

.app-main {
  height: 100vh;

  /* Layout */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.app-main .card-main {
  border: 1px solid black;
  height: 200px;
  width: 200px;

  /* Layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}